@model IEnumerable<ThAmCo.CheapestProducts.Services.CheapestProduct.LowestProductDto>

@{
    ViewData["Title"] = "Product Page";
}
<div class="d-flex justify-content-end">
    <h2>
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#filterForm" aria-expanded="false" aria-controls="filterForm">
            Filter Products
        </button>
    </h2>
</div>
<div class="collapse" id="filterForm">
    <div class="row">
        <div class="col-md-12">
            <form method="get" asp-action="Index">
                <div class="form-group">
                    <label for="MinPrice">Min Price</label>
                    <input type="number" id="MinPrice" name="minPrice" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="MaxPrice">Max Price</label>
                    <input type="number" id="MaxPrice" name="maxPrice" class="form-control" />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Remove Filter</a>
            </form>
        </div>
    </div>
</div>

<div>
    <h2>Product List</h2>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img style="max-width: 300px; max-height: 300px;" src="@product.ImageUrl" class="card-img-top d-block mx-auto" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Price: @product.Price</p>
                        <p class="card-text">@product.Description</p>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <p class="card-text">Stock Level: @product.StockLevel</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script doctype="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                location.reload();
            }, 300000); // 300000 ms = 5 minutes
        });
    </script>
}